@charset "UTF-8";

@font-face {
    font-family: 'eba';
    src: url(font/idroid.otf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
:root {
    --cor0: #4DEBA2;
    --cor1: #51F57B;
    --cor2: #59DE54;
    --cor3: #8FF551;
    --cor4: #C0EB4D;
    --cor5: #f0ffff;
}
header {
    background-image: linear-gradient(to bottom, #4DEBA2, #51F57B, #59DE54, #8FF551, #C0EB4D);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    margin: -8px -8px 0px -8px;
}
header > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    color: #f0ffff;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 4px 1px rgba(0, 0, 0, 0.473);

}
header > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #f0ffff;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
    text-align: center;
}
nav {
    box-shadow: 3px 8px 7px 0px rgba(0, 0, 0, 0.397);
    padding: 10px;
    background-color: #C0EB4D;
    margin: 0px -8px -8px -10px
}
nav > a {
   text-decoration: none;
   color: #f0ffff;
   font-weight: bold;
   padding: 10px;
   border-radius: 5px;
   transition-duration: .5s;
}
nav > a:hover {
    text-decoration: underline;
    background-color: rgb(41, 206, 151);
    color: #236d4d;
}
body {
    background-color: #E1DEBC;
}
article {
    padding: 8px;
    margin: 14px;
}
article > h2 {
    font-family: 'eba', Arial, Helvetica, sans-serif;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;

}
main {
   min-width: 280px;
   max-width: 1000px;
   margin: auto;
   margin-bottom: 30px;
   padding: 20px;
   background-color: azure;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   margin-top: 8px;
}
h2 {
    background-image: linear-gradient(to right, #4DEBA2, transparent);
    padding: 6px;
    font-family: 'eba', Arial, Helvetica, sans-serif;
    text-indent: 8px;
}
h3 {
    background-image: linear-gradient(to right, #4DEBA2, transparent);
    padding: 6px;
    font-family: 'eba', Arial, Helvetica, sans-serif;
    text-indent: 8px;
}
p > a {
    background-color: #4DEBA2;
    text-decoration: none;
    color: black;
    padding: 2px 3px;
}

a:hover {
    text-decoration: underline;
}
picture {
    display: flex;
    justify-content: center;
}
span {
    color: #236d4d;
    font-weight: bold;
}

p.centro {
    display: flex;
    justify-content: center;
}
div.eba { 
    background-color: rgb(20, 180, 87);
    padding: 20px;
    padding-bottom: 58%;
    margin: 0px -22px 30px -22px;
    position: relative;
}
div.eba > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

ul {
    list-style-type: "✔ ";
}
aside {
    background-color:#51F57B;
    border-radius: 10px 10px 8px 8px;
    padding: 10px;
    margin: 17px 39px 0px 39px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.404);
}
aside > ul {
    list-style-position: inside;
    columns: 2;
}
aside > h3 {
    background-color: #236d4d;
    color: black;
    padding: 5px;
    margin: -10px -10px -10px -10px;
    border-radius: 10px 10px 0px 0px;
}
span.aaaa {
color: black;
font-weight: bold;
}
footer {
text-align: center;
background-color: #59DE54;
font-size: 0.9em;
}